.font-face {
    font-family: 'Integral CF';
    src: local('Integral CF Heavy Oblique'), local('Integral-CF-Heavy-Oblique'),
        url('./integral_cf_f/IntegralCF-HeavyOblique.woff2') format('woff2'),
        url('./integral_cf_f/IntegralCF-HeavyOblique.woff') format('woff'),
        url('./integral_cf_f/IntegralCF-HeavyOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }